
body{
    display:flex;
    justify-content:center;
    align-items:left;
}
div{
    border-style:solid;
    border-width:5px;
    border-color:rgb(22, 19, 19);
    padding:10px;
    background-color:rgb(180, 176, 176);
}
p{
    border-style:solid;
}
h1{
    text-decoration: underline;
}